//- pag2.pug
extends layout
block head 
    link(rel="stylesheet", href="/styles/general.css")
block header 
    include templates/header.pug
block content
    .conteiner.cont-todo.width-90
        .title.text-center.mt-5 
            h1.text-light Bienvenido #{nombre}!
        .text-center.mt-3.text-light.fs-5 Agenda Diaria
        //- clavar filtrado de fechas
        .conteiner.rounded.p-2
            .d-flex.justify-content-center.mb-4.gap-3
                //-.rounded.p-2.bg-primary.text-light.titulos-tur.d-flex
                    | turnos del:  
                    #fechaInicial
                .d-flex.align-items-center.gap-3.titulos-tur.text-light
                    | Elegir fecha 
                    input(type="date")#fecha
            .table-responsive
                table.table.table-striped.sombra-tabla.textos-tur
                    thead 
                        tr
                            th Paciente
                            th Hora
                            th Motivo
                            th Estado
                    tbody#pintarTablaTurnos
                        //- SEGUN ESTADO PINTAR, ROJO CANCELADO, VERDE ATENDIDO

                
    script(src="/js/agendaCliente.js")

block footer 
    include templates/footer.pug
