//- pag2.pug
extends layout
block head 
    link(rel="stylesheet", href="/styles/general.css")
    link(rel="stylesheet", href="/styles/agenda.css")
    //- estilos de alertas
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")
    //- estilos del para el quill
    link(href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet") 
block header 
    include templates/header.pug
block content
    .conteiner.cont-todo.width-90
        .title.text-center.mt-5 
            h1.text-light Bienvenido #{nombre}!
        .text-center.mt-3.text-light.fs-5 Agenda Diaria
        //- clavar filtrado de fechas
        .conteiner.rounded.p-2
            .d-flex.justify-content-center.mb-4.gap-3
                //-.rounded.p-2.bg-primary.text-light.titulos-tur.d-flex
                    | turnos del:  
                    #fechaInicial
                .d-flex.align-items-center.gap-3.titulos-tur.text-light
                    | Elegir fecha 
                    input(type="date")#fecha

                    button.btn.btn-light#btn-template Crear Template
                    #modal.modal 
                        .modal-content.fw-normal
                            span.close#close &times;
                            p.text-center.fw-semibold Crea tu template
                            div#editor
                            button.btn.btn-success.mt-4#guardar-template Enviar

            .table-responsive
                table.table.table-striped.sombra-tabla.textos-tur
                    thead 
                        tr
                            th Paciente
                            th Hora
                            th Motivo
                            th Estado
                    tbody#pintarTablaTurnos
                        //- SEGUN ESTADO PINTAR, ROJO CANCELADO, VERDE ATENDIDO


    script(src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.min.js")  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="/js/agendaCliente.js")  

block footer 
    include templates/footer.pug
