//- pag2.pug
extends layout

block content
    .conteiner.cont-todo
        .title.text-center.mt-5 
            h1 Bienvenido #{nombre}!
        .text-center.mt-3 Agenda Diaria
        //- clavar filtrado de fechas
        .conteiner.border.rounded.p-5
            .d-flex.justify-content-start.mb-4.gap-3
                .rounded.p-2.bg-success.d-flex
                    | turnos del: &nbsp;
                    #fechaInicial
                .d-flex.align-items-center.gap-3
                    | Elegir fecha 
                    input(type="date")#fecha
            table.table.table-striped.shadow-lg
                thead 
                    tr
                        th Paciente
                        th Hora
                        th Motivo
                        th Estado
                tbody#pintarTablaTurnos
                    //- SEGUN ESTADO PINTAR, ROJO CANCELADO, VERDE ATENDIDO
                    
                
    script(src="/js/agendaCliente.js")

block footer
    //-include layout/footer
