//- pag2.pug
extends layout
block head 
    
    link(rel="stylesheet", href="/styles/agenda.css")
    //- estilos de alertas
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")
    //- estilos del para el quill
    link(href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet")
    link(rel="stylesheet", href="/styles/general.css")
block header 
    include templates/header.pug
block content
    .conteiner.cont-todo.width-90
        .title.text-center.mt-5 
            h1.text-light.fw-bold Bienvenido #{nombre}!
        
        //- clavar filtrado de fechas
        .conteiner.rounded.p-2
            .d-flex.justify-content-center.mb-4.gap-3
                //-.rounded.p-2.bg-primary.text-light.titulos-tur.d-flex
                    | turnos del:  
                    #fechaInicial
                .d-flex.align-items-center.gap-3.titulos-tur.text-light
                    | Elegir fecha 
                    input(type="date")#fecha

                    button.btn.btn-light#btn-template.color-primario-txt.fw-semibold Crear Template
            .text-center.mt-1.text-light.fs-4.color-primario-bg.fw-semibold.p-3.border-bottom.border-light Agenda Diaria
                    #modal.modal 
                        .modal-content.fw-normal.d-flex.flex-column.gap-3
                            span.close#close &times;
                            p.text-center.fw-semibold Crea tu template
                            label Nombre Template: 
                            input(type="text")#nombre-template
                            label Template: 
                            div#editor
                            button.btn.btn-success.mt-4#guardar-template Enviar

            .table-responsive
                table.table.table-striped.sombra-tabla.color-primario-txt.fs-5.fw-semibold
                    thead.table-info
                        tr
                            th Paciente
                            th Hora
                            th Motivo
                            th Estado
                            th Arribado 
                            th Especialidad 
                            th Acciones
                    tbody#pintarTablaTurnos
                        //- SEGUN ESTADO PINTAR, ROJO CANCELADO, VERDE ATENDIDO


    script(src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.min.js")  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="/js/agendaCliente.js")  

block footer 
    include templates/footer.pug
