
extends layout

block head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined")
    link(rel="stylesheet", href="/styles/general.css")
    link(href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet") 

block header 
    include templates/header.pug

block content
    .container-fluid.cont-todo.width-90
        .bg-bienvenido.mt-5
            .d-flex.gap-3.justify-content-center.p-4
                    span(class="material-symbols-outlined") clinical_notes
                    #nombre-paciente.color-primario-txt.fw-bold
        
        table.table.table-striped-columns.table-borderer.border-dark.align-middle
            thead.text-center.table-info.color-primario-bg
                tr
                    th Fecha
                    th Motivo
                    th Medico
                    th Diagnostico
                    th Evolucion
                    th Alergias
                    th Medicamentos 
                    th Habitos 
                    th Antecedentes
            tbody.text-center.table-group-divider#table-body
                    
                    
    script.
        let turnos = !{JSON.stringify(turno)};
        //-let evolucionEriquesida = !{JSON.stringify(turno.evolucion)};
        let matriculaMedicoLog = !{JSON.stringify(medicoLogeado)};
    script(src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.min.js")  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")

    script(src='/js/HCECliente.js')
    
block footer 
    include templates/footer.pug


