//- index.pug
extends layout

block head
    link(rel="stylesheet", href="/styles/login.css")
block content
    .d-flex.justify-content-center
        .conteiner.mt-5.border.p-5.bg-textura-1.shadow.mb-5.bg-body-tertiary.rounded
            h1(class="d-flex justify-content-center mb-4") Logueate aca doctoooor 
            .logueo.container
                form
                    .mb-3
                        label.form-label(for='exampleInputEmail1') Matricula
                        input#matricula.form-control(type='text')
                        #emailHelp.form-text
                    .mb-3
                        label.form-label(for='exampleInputPassword1') Contrasena
                        input#pass.form-control(type='password').mb-5
                    .d-grid.gap2
                        button.btn.btn-primary(type='submit' onclick='loguear(event)') Ingresar

    script(src="/js/loginCliente.js")

//- block footer
    include templates/footer
