//- layout.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Site
        link(rel="stylesheet", href="/styles/bootstrap.min.css")
        block head // Bloque opcional para a침adir m치s elementos en el <head>
    body
        block header 
        
        block content // Secci칩n principal para el contenido de cada p치gina
        block footer
