//- layout.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Site
        link(rel="stylesheet", href="/styles/bootstrap.min.css")
        block head
    body
        block header // Secci칩n para el header
        block content // Secci칩n principal para el contenido de cada p치gina
        block footer // Secci칩n para el footer