extends layout
block head 
    
    link(rel="stylesheet", href="/styles/agenda.css")
    //- estilos de alertas
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")
    //- estilos del para el quill
    link(href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet")
    link(rel="stylesheet", href="/styles/general.css")
block header 
    include templates/header.pug
block content
    .width-90.title.text-center.mt-5
        .bg-bienvenido
            h1.color-primario-txt.fw-bold.p-3  Buscar pacientes
            .d-flex.gap-3.pb-3.flex-column.align-items-center
                label(for="").text-start.fw-semibold (Nombre o Apellido)
                input(type="text" placeholder="Pedro Hernandez")#busqueda.rounded.border.sombra-buscar-pacientes
                
        .table-responsive
            table.table.table-striped.sombra-tabla.color-primario-txt.fs-5
                thead.table-info
                    tr
                        th Nombre
                        th Apellido
                        th DNI
                        th Direccion 
                        th Edad
                        th HCE
                tbody#pintarTablaPacientes
                    


        script.
            let pacientes = !{JSON.stringify(pacientes)};

        script(src='/js/pacientes.js') 
