extends layout
block head 
    
    link(rel="stylesheet", href="/styles/agenda.css")
    //- estilos de alertas
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")
    //- estilos del para el quill
    link(href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet")
    link(rel="stylesheet", href="/styles/general.css")
block header 
    include templates/header.pug
block content
    .width-90.title.text-center.mt-5
        .bg-bienvenido.p-3
            h1.color-primario-txt.fw-bold Buscar pacientes
            .d-flex.gap-3.justify-content-center.p-3
                label(for="") Nombre o Apellido: 
                input(type="text")#busqueda.border.border-dark.rounded
        .text-center.text-light.fs-4.color-primario-bg.fw-semibold.p-3.border-bottom.border-light Agenda Diaria
            .table-responsive
                table.table.table-striped.sombra-tabla.color-primario-txt.fs-5.fw-semibold
                    thead.table-info
                        tr
                            th Nombre
                            th Apellido
                            th DNI
                            th Direccion 
                            th Edad
                            th HCE
                    tbody#pintarTablaPacientes
                    


        script.
            let pacientes = !{JSON.stringify(pacientes)};

        script(src='/js/pacientes.js') 
