
header
    nav.navbar.navbar-expand-lg.navbar-light.fondo-transparente.p-3.d-flex.align-items-center
        .container-fluid.gap-3.width-90
            span(class="material-symbols-outlined").logo-am.sombra-texto medical_information
            a.sombra-texto.navbar-brand.mb-0.h1.mx-auto.text-light.fw-bold(href="#").fs-4 Atencion Medica
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNav
                .mx-auto.d-flex.align-items-center.gap-5
                    a(href='/turnos/agenda').btn.btn-agenda.d-flex.gap-2#btn-agenda.link-offset-2.link-underline.link-underline-opacity-0.text-light.fw-semibold
                        //-span(class="material-symbols-outlined icono-agenda") description
                        | Agenda
                    a(href='/pacientes' target="_blank").btn.btn-agenda.d-flex.gap-2#btn-agenda.link-offset-2.link-underline.link-underline-opacity-0.text-light.fw-semibold
                        //-span(class="material-symbols-outlined icono-agenda") description
                        | Pacientes
                    a(href='#').btn.btn-logout.d-flex.gap-2.link-offset-2.link-underline.link-underline-opacity-0.text-light.fw-semibold#btn-logout
                        //-span(class="material-symbols-outlined icono-logout") logout
                        | Cerrar Sesión
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")

    //- muy importante el orden, jquery primero, toastr despues y ultimo el js nuestro

    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js") 
    
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11") 
    
    script(src="/js/headerScripts.js") 