header
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.p-3.d-flex.align-items-center
        .container-fluid.gap-3.width-90
            img(src="/icons/atencion-medica.png", alt="")
            a.navbar-brand.mb-0.h1.mx-auto(href="#") Atencion Medica
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNav
                .mx-auto.d-flex.justify-content-start.align-items-center.gap-3
                    a.btn.btn-outline-primary.d-flex.gap-2#btn-agenda
                        img(src="/icons/agenda.png", alt="")
                        |Agenda
                    a.btn.btn-outline-danger.d-flex.gap-2#btn-logout
                        img(src="/icons/exit.png", alt="")
                        | Cerrar Sesión
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")

    //- muy importante el orden, jquery primero, toastr despues y ultimo el js nuestro

    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js") 
    
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11") 
    
    script(src="/js/headerScripts.js") 