body{
    background-color: #7DB2FF;
    color: #0057FF;
    margin: 0 auto;
}

.width-90{
    width: 90%;
    margin: 0 auto;
}
.btn-float{
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}

.btn-float:hover{
    transform: translateX(-50%) scale(1.2);
}

.sombra-btn-guardar{
    box-shadow: 0px 10px 15px black;
}


.bg-header{
    width: 100%;
}

.largo{
    min-height: 300px !important;
}

.largo-quill{
    min-height: 230px;
}
.esconder{
    display: none;
}
.txt-area-style{
    margin: auto;
    width: 80%;
    height: 10dvh;
    resize: none;
}
.ahi-nomas{
    width: 100px;
}
.obligatorio{
    color: rgba(190, 190, 190, 0.757);
}

.sombra-tabla{
    box-shadow: 0px 1px 19px black;
}

.bg-papel{
    background: #fcdcb0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #fcdcb0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d6ae7b, #fcdcb0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.textos-tar{
    font-size: 25px;
    font-style: italic;
}

.titulos-tar{
    /*font-size: 30px;
    font-weight: bold;*/
    margin: auto;
    background-color: white;
    padding: 1%;
    width: 60%;
}

.titulos-tur{
    font-size: 25px;
    font-weight: bold;
}

.textos-tur{
    font-size: 20px;
    font-style: italic;
}

.sombra-titulo{
    box-shadow: 0px 10px 19px black;
}

.btn-flecha{
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-flecha:hover{
    transform: scale(1.1); 
}

.btn-flecha:active{
    transform: scale(0.95);
}

/* ---------------------------------- PALETA DE COLORES PERSONALIZADA ----------------------------------*/

.table-info{
    --bs-table-color: white;
    --bs-table-bg: #334597 ;
    --bs-table-border-color: #334597 ;
    --bs-table-striped-bg: #334597 ;
    --bs-table-striped-color: rgb(230, 230, 230);
    --bs-table-active-bg: #334597 ;
    --bs-table-active-color: white;
    --bs-table-hover-bg: #334597 ;
    --bs-table-hover-color: white;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.color-primario-txt{
    color: #334597;
}

.color-secundario-txt{
    color: #23DCE1;
}

.color-primario-bg{
    background-color: #334597 !important;
}

.color-secundario-bg{
    background-color: #23DCE1;
}
.color-fondo{
    color: #7DB2FF;
}

.text-danger-emphasis {
    color: #334597 !important;
}

.btn-HCE{
    border: 1px solid #334597;
    color: #334597;
    background-color: none;
}

.btn-HCE:hover{
    background-color: #334597;
    color: white;
}

.btn-comenzar-atencion{
    color: white;
    background-color: #23DCE1;
}

.btn-comenzar-atencion:hover{
    border: 1px solid #23DCE1;
    background-color: white;
    color: #23DCE1;
}

.editable:hover td {
    opacity: 0.7; 
}

tr a{
    color: #334597;
    text-decoration: none;
}