body{
    background-color: #7DB2FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    color: #334597;
    margin: 0 auto;
}

.width-90{
    width: 90%;
    margin: 0 auto;
}
.btn-float{
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}

.btn-float:hover{
    transform: translateX(-50%) scale(1.2);
}

.sombra-btn-guardar{
    box-shadow: 0px 10px 15px black;
}


.bg-header{
    width: 100%;
}

.largo{
    min-height: 300px !important;
}

.largo-quill{
    min-height: 230px;
}
.esconder{
    display: none;
}
.txt-area-style{
    margin: auto;
    width: 80%;
    height: 10dvh;
    resize: none;
}
.ahi-nomas{
    width: 100px;
}
.obligatorio{
    color: rgba(190, 190, 190, 0.757);
}

.sombra-tabla{
    box-shadow: 0px 1px 19px black;
}

.bg-papel{
    background: #fcdcb0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #fcdcb0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d6ae7b, #fcdcb0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.textos-tar{
    font-size: 25px;
    font-style: italic;
}

.titulos-tar{
    /*font-size: 30px;
    font-weight: bold;*/
    margin: auto;
    background-color: white;
    padding: 1%;
    width: 60%;
}

.titulos-tur{
    font-size: 25px;
    font-weight: bold;
}

.textos-tur{
    font-size: 20px;
    font-style: italic;
}

.sombra-titulo{
    box-shadow: 0px 10px 19px black;
}

.btn-flecha{
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-flecha:hover{
    transform: scale(1.1); 
}

.btn-flecha:active{
    transform: scale(0.95);
}

/* ---------------------------------- PALETA DE COLORES PERSONALIZADA ----------------------------------*/

.table-info{
    --bs-table-color: white;
    --bs-table-bg: #334597 ;
    --bs-table-border-color: #334597 ;
    --bs-table-striped-bg: #334597 ;
    --bs-table-striped-color: rgb(230, 230, 230);
    --bs-table-active-bg: #334597 ;
    --bs-table-active-color: white;
    --bs-table-hover-bg: #334597 ;
    --bs-table-hover-color: white;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.color-primario-txt{
    color: #334597;
}

.color-secundario-txt{
    color: #23DCE1;
}

.color-primario-bg{
    background-color: #334597 !important;
}

.bg-obligatorios{
    background-color: #334597d2 !important;
}

.color-secundario-bg{
    background-color: #23DCE1;
}
.color-fondo{
    color: #7DB2FF;
}

.text-danger-emphasis {
    color: #334597 !important;
}

.btn-HCE{
    border: 1px solid #334597;
    color: #334597;
    background-color: none;
}

.btn-HCE:hover{
    background-color: #334597;
    color: white;
}

.btn-comenzar-atencion{
    color: white;
    background-color: #23DCE1;
}

.btn-comenzar-atencion:hover{
    border: 1px solid #23DCE1;
    background-color: white;
    color: #23DCE1;
}

.editable:hover td {
    opacity: 0.7; 
}

tr a{
    color: #334597;
    text-decoration: none;
}
.btn-HCE-invertido{
    border: 1px solid white;
    color: white;
    background-color: #334597;
}

.btn-HCE-invertido:hover{
    border: 1px solid #334597;
    color: #334597;
    background-color: none;
}

.btn-agregar-daignostico{
    border: 1px solid white;
    color: white;
    background-color: #334597;
}

.btn-agregar-daignostico:hover{
    border: 1px solid white;
    color: #334597;
    background-color: white;
}

.fondo-transparente{
    backdrop-filter: blur(10px) !important;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.37);
    border: 2px solid rgba(255,255,255,0.18);
}

.txt-area-create{
    width: 90%;
}

.bg-bienvenido{
    background-color: rgba(255, 255, 255, 0.736);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.bordes-arriba-radius{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.ql-toolbar {
    background-color: white !important; 
    border: 1px solid #ccc !important;
}

.bg-opcionales{
    background-color: rgba(255, 255, 255, 0.736);
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

@keyframes shrinkUp {
    from {
        transform: scaleY(1);
        opacity: 1; } 
        to { 
            transform: scaleY(0); 
            opacity: 0; }
        }

.animacion-entrada {
    animation: slideIn 0.5s ease-out;
}

.animacion-salida {
    animation: slideOut 0.5s ease-out;
}

.animacion-salida-eliminar{
    animation: shrinkUp 0.5s ease-out;
    transform-origin: top;
}

.contenido-oculto {
    display: none;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.contenido-visible {
    display: block;
    max-height: 1000px; 
}


/* -------Libreria iconos google------ */
.material-symbols-outlined {
    font-size: 42px;
    color: #334597;
    font-variation-settings:
    'wght' 800,
    'FILL' 0,
    'opsz' 24
    'GRAD' 0,
}

#privado-icono{
    font-size: 32px;
    color: #7c7c7c;
}

.privado-color{
    color: #7c7c7c;
}

.logo-am{
    color: white;
    font-size: 38px;
}
.sombra-texto{
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.btn-agenda{
    color: rgba(255, 255, 255, 0.933) !important;
    font-size: 20px;
    
}

.btn-agenda:hover{
    color: white !important;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.22);
}

.btn-logout{
    font-size: 20px;
}

.btn-logout:hover{
    color: rgb(255, 0, 0) !important;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.179);
}

.cont-flecha-abrir {
    cursor: pointer;
    gap: 10px;
}

.cont-flecha-abrir .flecha-abrir {
    transition: transform 0.5s ease-in-out;
}

.rotar-180 {
    transform: rotate(180deg);
}

.cont-flecha-abrir .flecha-abrir:hover {
    animation: bounce-down 1s;
}

.cont-flecha-abrir .rotar-180:hover {
    animation: bounce-up 1s;
}

@keyframes bounce-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

@keyframes bounce-up {
    0%, 100% {
        transform: translateY(0) rotate(180deg);
    }
    50% {
        transform: translateY(-10px) rotate(180deg);
    }
}

